@import "../../style.sass"

*
  // border: 1px dotted red
.CardModal
  &-shroud, &-stage
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
  &-shroud
    z-index: 100
    background-color: rgba(0, 0, 0, 0.5)
  &-stage
    pointer-events: none
    z-index: 101
    display: flex
    justify-content: center
    align-items: center
  &-window
    pointer-events: auto
    min-width: 700px
    max-width: 700px
    min-height: 300px
    padding: 13px
    border-radius: 5px
    background-color: #e1e3ea
    display: flex
    flex-direction: row
  &-body
    display: flex
    flex-direction: column
    flex: 1
  &-content
    padding-top: 7px
    display: flex
    flex-direction: row
    &-icon
      font-size: .9em
      color: grey
      flex: 0 0 45px
    &-title
      font-size: 1.2em
      font-weight: bold
    &-copy
      flex: 1
    &-Edit
      & textarea
  &-details
    width: 79%
    display: inline
    float: left
    padding-top: 30px
    &-list, &-board
      color: grey
    &-list
      margin-left: 13px
      font-size: .85em
    &-board
      margin-left: 20px
    &-eye
      padding-left: 8px
      font-size: .8em
      color: grey
  &-controls
    display: flex
    flex-direction: column
    flex: 0 0 130px
    &-title
      font-weight: bold
    &-add
      min-height: 100px
    &-actions
      min-height: 50px
  &-description
    &-title
      margin-bottom: 5px
      color: grey
      font-size: .85em
    &-Edit
      &-button, &-cancel
        display: inline
        color: black
      &-button
        margin-left: 5px
        color: grey
  &-comments
    display: flex
    flex-direction: row
    &-Form-input
      border-radius: 3px
      // border: .1em solid grey
      border: 0px rgba(0, 0, 0, 0)
      box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1)
      resize: none
      padding: 10px
      &::-webkit-input-placeholder
        color: orange
    &-header
      display: flex
      flex-direction: row
    &-title
      font-size: 1.1em
      font-weight: bold
    &-icon
      color: grey
      flex: 0 0 45px
    &-userimage
      max-width: 30px
      max-height: 30px
      border-radius: 4px
    &-content
      flex: 1
    &-imgcontain
      flex: 0 0 45px
    &-Form
      flex: 1
  &-name
    max-width: 100%
input[type="submit"].CardModal-comments-submit
  max-width: 25%
  margin: 8px 0px 6px 0px
